.header {
    padding: 3rem 0;
    &__inner {
        @include container;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        width:170px;
        height: 21px;
        display: flex;
    }
    &__btn-wrapper {
        display: flex;
        align-items: center;
        gap: 2.2rem;
    }

}
